@page "/watchlist"
@using LiveAuction.Client.Features.Watchlists.Services

@attribute [Authorize]

@inject ISnackbar Snackbar
@inject IWatchlistApi WatchlistApi
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>قائمتي للمراقبة</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-8">
    <MudText Typo="Typo.h4" Class="mb-6" Color="Color.Primary">قائمتي للمراقبة</MudText>
    @if (isLoading)
    {
        <div class="d-flex justify-center mt-16">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
        </div>
    }
    else if (watchList?.Items == null || watchList?.Items.Count == 0)
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Filled" Class="mt-4">
            لا توجد عناصر في قائمتك للمراقبة حالياً. تصفح 
        <MudLink Href="/" Color="Color.Inherit">المزادات الحالية</MudLink> لإضافة عناصر إلى قائمتك للمراقبة.
        </MudAlert>
    }
    else
    {
        <MudGrid>
            @foreach (var auction in watchList?.Items!)
            {
                <MudItem xs="12" sm="6" md="4">
                    <AuctionCard AuctionId="@auction.AuctionId"
                                 Title="@auction.Title"
                                 ImageName="@auction.ImageName"
                                 EndTime="@auction.EndTime"
                                 CurrentBid="@auction.CurrentBid"
                                 IsFavorite="@auction.IsInWatchList"
                                 OnFavoriteToggled="UpdateFavoriteStatus" />
                </MudItem>
            }

        </MudGrid>
    }


    
    

</MudContainer>

@code {

    [CascadingParameter]
    public MainLayout mainLayout { get; set; } = default!;

    private WatchListDto? watchList;
    private bool isLoading = true;
    private HubConnection hubConnection = default!;
    private const string LocalImagePath = "https://localhost:7293/images/";

    protected override async Task OnInitializedAsync()
    {
        var count = await WatchlistApi.GetCountAsync();
        mainLayout.UpdateWatchlistCount(count);
        await LoadWatchlistItems();

        try
        {
            hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7293/hubs/auction")
            .WithAutomaticReconnect()
            .Build();

            hubConnection.On<BidDto>("NewBidPlaced", async bid =>
               {
                   await InvokeAsync(async () =>
                   {
                       var item = watchList?.Items?.FirstOrDefault(a => a.AuctionId == bid.AuctionId);
                       if (item != null)
                       {
                           item.CurrentBid = bid.Amount;
                           StateHasChanged();
                       }
                   });
               });

            Console.WriteLine("Hub connection will be created.");
            await hubConnection.StartAsync();
            Console.WriteLine("Hub connection started.");

            if (hubConnection.State == HubConnectionState.Connected)
            {
                if (watchList?.Items != null)
                    foreach (var auction in watchList?.Items!)
                        await hubConnection.SendAsync("JoinToGroub", auction!.AuctionId.ToString());
            }

            hubConnection.Reconnected += async (string? connectionId) =>
            {
                Console.WriteLine("Reconnected to hub.");
                if (hubConnection.State == HubConnectionState.Connected)
                {
                    if (watchList?.Items != null)
                        foreach (var auction in watchList?.Items!)
                            await hubConnection.SendAsync("JoinToGroub", auction!.AuctionId.ToString());
                }
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error setting up SignalR hub connection: {ex.Message}");
        }
    }

    private async Task LoadWatchlistItems()
    {
        try
        {
            isLoading = true;
            watchList = await WatchlistApi.GetWatchlistAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading watchlist items: {ex.Message}");
            Snackbar.Add("حدث خطأ أثناء تحميل عناصر قائمة المراقبة.", Severity.Error);
        }
        finally
        {
            isLoading = false;
        }
    }

    private void UpdateFavoriteStatus((int AuctionId, bool IsFavorite) args)
    {
        var item = watchList?.Items?.FirstOrDefault(a => a.AuctionId == args.AuctionId);
        if (item != null)
        {
            item.IsInWatchList = args.IsFavorite;
            if (!args.IsFavorite)
            {
                watchList?.Items?.Remove(item);
                Snackbar.Add("تمت إزالة العنصر من قائمة المراقبة.", Severity.Info);
            }
            StateHasChanged();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            if (watchList?.Items != null)
                foreach (var auction in watchList?.Items!)
                    await hubConnection.SendAsync("LeaveFromGroub", auction!.AuctionId.ToString());
            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();
        }
    }
}
